*{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 0 75px;
    background-color: #004c86;
}
.menu-icon .icon img{
    width: 15px;
    margin-left: 25px;
}
.nav-contents a{
    padding: 20px 18px;
}
.bar hr{
    height: 25px;
    width: 2px;
    background-color: #fff;
    margin: 0 25px;
}
.discover, .section2{
    margin: 30px 0;
    padding: 0 2%;
}
.tab-name ul li{
    display: inline-block;
    padding: 0 15px;
}
.discover .row{
    text-align: center;
}
.discover .head{
    margin-bottom: 15px;
}
.tab-name a{
    color: #7f7f7f;
    font-weight: bold;
    font-size: 20px;
    font-family: "Nunito Sans",sans-serif;
}
.tab-name a:hover{
    color: #00837E;
}
.tab-name a:focus{
    color: #00837E;
}
.tab-name hr{
    width: 100%;
    height: 1px;
    background-color: rgb(130, 139, 139);
}
.tab-content .card-body{
    text-align: left;
}
.tab-content .card-title{
    font-size: 19px;
    color: black;
    line-height: 1.25;
    margin: 5px 0;
    font-family: "Nunito Sans",sans-serif;
}
.tab-content .card-text{
    font-size: 15px;
    line-height: 1.5;
    color: #7f7f7f;
    font-family: "Nunito Sans",sans-serif;
}
.tab-content .card{
    padding: 0;
}
.section2{
    border-bottom: 1px solid rgb(214, 211, 211);
    padding-bottom: 50px;
}
.section2 .column img{
    width: 100%;
    object-fit: cover;
}
@media (min-width: 576px) {
    .section2 .column img{
        margin-top: 20px;
    }
}